{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "О нас" %}{% endblock %}

{% block content %}
    <h1>{% trans "О компании Insydent" %}</h1>
    <p>{% trans "INSYDENT – это не просто интернет-магазин стоматологических материалов. Это команда людей, которые много лет работают в этой сфере и готовы использовать свой опыт для того, чтобы врачи могли быть уверены в качестве приобретаемых материалов и надежности их поставщиков." %}</p>
    <p>{% trans "Мы ценим время наших клиентов, а потому создали для Вас возможность приобрести все необходимые материалы у одного поставщика и получить их в кратчайшие сроки." %}</p>
    <p>{% trans "Для врача важно, чтобы пациент был уверен в качестве его работы. Для «INSYDENT» важно, чтобы врачи были уверены в нашем профессионализме." %}</p>
{% endblock %}
