{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="row mb-5 align-items-center">
        <div class="col-md-6 text-center">
            <img src="{% static 'img/insydent_logo.png' %}" alt="Insydent Logo" class="img-fluid about-logo">
        </div>
        <div class="col-md-6">
            <h1 class="mb-4">О компании Insydent</h1>
            <p class="lead">INSYDENT – это не просто интернет-магазин стоматологических материалов. Это команда людей, которые много лет работают в этой сфере и готовы использовать свой опыт для того, чтобы врачи могли быть уверены в качестве приобретаемых материалов и надежности их поставщиков.</p>
        </div>
    </div>

    <div class="row feature-section">
        <div class="col-md-6">
            <h3>Ценность для клиентов</h3>
            <p>Мы ценим время наших клиентов, а потому создали для Вас возможность приобрести все необходимые материалы у одного поставщика и получить их в кратчайшие сроки.</p>
        </div>
        <div class="col-md-6">
            <h3>Наш профессионализм</h3>
            <p>Для врача важно, чтобы пациент был уверен в качестве его работы. Для «INSYDENT» важно, чтобы врачи были уверены в нашем профессионализме.</p>
        </div>
    </div>
{% endblock %}
