{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Главная" %}{% endblock %}

{% block content %}
    <div class="hero-section">
        <h1>{% trans "Добро пожаловать в Insydent" %}</h1>
        <p>{% trans "Ваш надежный партнер в высококачественном стоматологическом оборудовании." %}</p>
        <a href="{% url 'catalog' %}" class="btn btn-light btn-lg">{% trans "Перейти в каталог" %}</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>{% trans "Качественные продукты" %}</h2>
            <p>{% trans "Мы предлагаем широкий ассортимент высококачественных стоматологических инструментов и оборудования от ведущих производителей." %}</p>
        </div>
        <div class="col-md-4">
            <h2>{% trans "Экспертная поддержка" %}</h2>
            <p>{% trans "Наша команда экспертов всегда готова помочь вам с выбором и технической поддержкой." %}</p>
        </div>
        <div class="col-md-4">
            <h2>{% trans "Быстрая доставка" %}</h2>
            <p>{% trans "Мы гарантируем быструю и надежную доставку ваших заказов по всему региону." %}</p>
        </div>
    </div>
{% endblock %}
